$color-001: #e5e7dc;
$color-002: #838d8a;
$color-003: #d8c3a5;
$color-004: #e98074;
$color-005: #e85a4f;

.soft-red-text {
  color: $color-005;
}

.light-red-text {
  color: $color-004;
}

.grayish-orange-text {
  color: $color-003;
}

.gray-pantone-text {
  color: $color-002;
}

.crystal-broke-text {
  color: $color-001;
}
