@import './colors.scss';

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  background-color: $color-001;
  padding-top: 56px;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: 0.3rem; }
}
