<div class="col" id="shop_<%=product.name%>">
  <div class="card h-100 shadow-sm">
    <%= image_tag product.pictures[0] ,  class: "card-img-top", alt: "product #{product.name }" %>
    <div class="card-body">
      <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary"> <%= product.name %></span> <span class="float-end price-hp"> <%= number_to_currency(product.price) %></span> </div>
      <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
      <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add to cart</a> </div>
    </div>
  </div>
</div>