<% content_for :title, "About us" %>
<div class="container-fluid my-5 p-5">
  <%= image_tag "palais-sans-souci-01.png",
       class: "img-fluid frame frame-01"

      %>
</div>
<div class="horizontal-divider"></div>
<div class="my-5">
  <div class="p-5 text-center">
    <div class="container py-5">
      <h1 class="text-body-emphasis">
        consectetur adipisicing
      </h1>
      <article class="col-lg-8 mx-auto lead">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
      </article>
    </div>
  </div>
</div>
<div class="horizontal-divider"></div>
<div class="my-5">
  <div class="p-5 text-center">
    <div class="container py-5">
      <h1 class="text-body-emphasis">
        consectetur adipisicing
      </h1>
      <article class="col-lg-8 mx-auto lead">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla sint natus sunt quis reiciendis impedit modi ullam pariatur quibusdam. Magnam voluptates, soluta facilis quae voluptate dolore similique natus quam!
        </p>
      </article>
    </div>
  </div>
</div>
<div class="horizontal-divider"></div>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "palais-sans-souci-01.png", class: "bd-placeholder-img img-fluid", aria: {hidden:"true"}, preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>
            consectetur adipisicing
          </h1>
          <p class="opacity-75">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum ipsum nemo ut distinctio recusandae molestiae iusto iure minima et sint molestias quae praesentium alias magni dolore, explicabo sapiente. Ab, commodi.
          </p>
          <p><a class="btn btn-lg btn-warning" href="#">
              consectetur adipisicing
            </a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "palais-sans-souci-02.png", class: "bd-placeholder-img img-fluid", aria: {hidden:"true"}, preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>consectetur adipisicing</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sapiente aliquid at nihil sint quia temporibus. Sapiente officia minima a consequuntur excepturi unde repellendus laborum, vitae, minus quia accusantium magnam.
          </p>
          <p><a class="btn btn-lg btn-warning" href="#">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "palais-sans-souci-03.png", class: "bd-placeholder-img img-fluid", aria: {hidden:"true"}, preserveAspectRatio: "xMidYMid slice", focusable: "false" %>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>Some representative placeholder content for the third slide of this carousel.</p>
          <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="horizontal-divider"></div>
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Basic jumbotron</h1>
    <article class="lead">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus excepturi, et rerum labore minus dignissimos dolore itaque consectetur deserunt eligendi fugiat nulla, quos aperiam, cum laborum. Quisquam beatae quam corporis?  
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus excepturi, et rerum labore minus dignissimos dolore itaque consectetur deserunt eligendi fugiat nulla, quos aperiam, cum laborum. Quisquam beatae quam corporis?  
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus excepturi, et rerum labore minus dignissimos dolore itaque consectetur deserunt eligendi fugiat nulla, quos aperiam, cum laborum. Quisquam beatae quam corporis?  
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim exercitationem nisi id eos quasi deleniti voluptates cum dicta quaerat, veniam earum, saepe unde repellat ipsum ratione aliquid iste aliquam.
      </p>
    </article>
  </div>
</div>
