<% content_for :title, "Boutique" %>
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
  <div class="row">
    <div class="col">
      <% if @cart.line_items.count > 0 %>
        <%= render "pages/cart", cart: @cart %>
      <%else%>
        <h1> Your cart is empty<br/>
          Please choose a souvenirs</h1>
      <%end%>
    </div>
    <div class="col">
      <% cache @merchandises do %>
        <% @merchandises.each do |merchandise| %>
          <% cache merchandise do %>
            <h2 >
              <%= link_to "#{merchandise.name}", department_path(merchandise), class: "text-decoration-none soft-red-text" %>
            </h2>
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mb-3">
              <% merchandise.products.each do |product| %>
                <%= render "pages/product", product: product %>
              <% end %>
            </div>
            <div>
              <%= link_to "more #{merchandise.name}", department_path(merchandise), class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
