<% content_for :title, "Contact" %>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered form</h1>
      <p class="col-lg-10 fs-4">
        <i class="bi bi-facebook soft-red-text"></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-telephone-fill"></i>
      </p>
      <p class="col-lg-10 fs-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eos iure deleniti numquam odit modi nam delectus dicta dolorum consectetur. Modi doloribus deserunt praesentium, voluptatum provident cumque nisi incidunt obcaecati.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingName" placeholder="First name">
          <label for="floatingName">First name</label>
        </div>
        <div class="form-floating mb-3">
          <textarea name="floatingRequest" id="floatingRequest" class="form-control"></textarea>
          <label for="floatingRequest">Request</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        <hr class="my-4">
        <small class="text-body-secondary">By clicking Submit, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>
