<% content_for :title, "Merchandises" %>
<% if @cart and not @cart.line_items.empty? %>
  <%= render "pages/offcanvas_cart", cart: @cart %>
<%else%>
  <h1> Your cart is empty<br/>
    Please choose a souvenirs</h1>
<%end%>
<% cache @products do %>
  <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mb-3">
    <% @products.each do |product| %>
      <% cache product do %>
        <%= render "pages/product", product: product %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>