<% content_for :title, "New product" %>
<h1>New product</h1>
<% if user_signed_in? %>
  <%= render "form", product: @product %>
  <br>
  <div>
    <%= link_to "Back to products", products_path, class: "btn btn-primary" %>
  </div>
<%end%>
